//Font Variables//
$font-main: 'Helvetica Neue', sans-serif;
$font-headline:  'Helvetica', sans-serif;

//Breakpoint Variables//
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1400px;

//Color Variables//
$color-accent   :#04e0d5;
$color-default  :#59caf7;
$color-success  :#159e00;
$color-error    :#f76258;
$color-warning  :#f7a758;
$color-info     :#d458f7;
