// **********************************************
// _grid.scss
// styles related to the grid system and
// main container.
// major grid styles have been added here for you
// but additional styling may be needed
// **********************************************


// grid base class
.grid {

  // .grid__row
  &__row {
    padding: 1em 10px;
    display: flex;
    flex-direction: column;

    // NOTE: replace with media query mixin if aiming for exceeds
    @include mq(tablet) {
      flex-direction: row;
    }
  }

  // .grid__col
  &__col {

    // create grid columns dynamically
    // loop through each column size
    @for $i from 1 through 12 {

      // concatenate CSS selector, ie when $i = 1,
      // selector would be .grid__col--1
      &--#{$i} {

        // base styles applied to all grid columns
        // NOTE: could be converted to a placeholder, along with margin
        // from the  media query
        margin-top: 10px;
        flex-basis: 100%;

        // NOTE: replace with media query mixin if aiming for exceeds
        @include mq(tablet) {

          // base stlyes applied to all grid columns
          margin-top: 0;

          // make column width a percentage of the column number / total columns
          flex-basis: #{$i / 12 * 100 + "%"} ;
        }
      }
    }
  }
}

// targets all elements with classes that begin with grid__col
[class^=grid__col] {
  // grid__col + grid__col, targets two sibling columns
  & + & {

    // NOTE: replace with media query mixin if aiming for exceeds
    @include mq(tablet) {

      // add grid gutter
      margin-left: 10px;
    }
  }
}

.container {
  width: 85%;
  margin: auto;
  @include mq(tablet) {
    margin-bottom: 3em;
  }
  @include mq(desktop) {
    max-width: 1100px;
  }
}

.card {
  width: 100%;;
  margin: auto;
  line-height: 1.5em;
}

.theme__colors.grid__col- {
  @for $i from 1 through 12 {
    &-#{$i} {
      background-color: adjust-hue($color-accent, $i * 50);
      padding: 1em;
      border-radius: 10px;
    }
  }
}

.grid__row {
  @include mq(tablet) {
    display: flex;
  }
}

.grid__col--3 {
  @include mq(tablet) {
    @include flex-column {
      flex-grow: 2;
    }
  }
}

.grid__col--8 {
  @include mq(tablet) {
    padding-right: 2em;
  }
}
.grid__col--9 {
  @include mq(tablet) {
    width: auto;
    @include flex-row {
      flex-grow: 1;
    }
  }
}
.img--avatar {
  @include mq(tablet) {
    margin: auto;
    width: 200px;
  }
}
.centered {
  @include mq(tablet) {
    margin: auto;
  }
}

.grid__col--12 {
  @include mq(tablet) {
    display: flex;
  }
}
